@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Let's Play Tic Tac Toe!</title>
<link href=@routes.Assets.at("stylesheets/bootstrap/dist/css/bootstrap.min.css") rel="stylesheet">
<link href=@routes.Assets.at("stylesheets/main.css") rel="stylesheet">
</head>
<body>
<header>
<!-- Logo -->
<nav class="navbar navbar-inverse" role="navigation">
<div class="container">
<!-- Navigation -->
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<ul class="nav nav-tabs" role="navigation">
  <li role="presentation"><a href="@routes.Application.grundseite()" role="tab" data-toggle="tab">Startseite</a></li>
  <li role="presentation"><a href="@routes.Application.register()" role="tab" data-toggle="tab">Neues Spiel</a></li>
  <li role="presentation"><a href="@routes.Application.options()" role="tab" data-toggle="tab">Options</a></li>
  <li role="presentation"><a href="@routes.Application.instructions()" role="tab" data-toggle="tab">Instructions</a></li>
  <li role="presentation"><a href="@routes.Application.about()" role="tab" data-toggle="tab">About</a></li>
</ul>
</nav>
</header>
<div class="maincontent">
<main>
@content
</main>
</div>

<footer>
<div class="row">
<div class="col-md-3 col-md-offset-3">



</div>
</div>

	
		</body>
		</html>