.maincontent {
margin-left:auto;
margin-right:auto;
width:100em;

}
body {

background: url("/assets/images/background.jpg");
background-size: cover;
background-repeat:no-repeat;
 
}
.test{
margin-left:200px;


}

